{% set approved_comments = [
    { 
        "article_key": "el-pintor-y-la-trompeta",
        "author": "Carlos",
        "date": "16 abril 2026",
        "text": "Muy bueno el artículo!!"
    },
    { 
        "article_key": "que-tan-rapido-sale-el-corcho-de-una-botella-de-champan",
        "author": "Helena",
        "date": "6 mayo 2026",
        "text": "Si la temperatura aumenta la presión y puede hacer que el descorche sea más violento, ¿cuánto cambia realmente la velocidad del corcho entre una botella fría de nevera y una botella a temperatura ambiente?"
    },
    { 
        "article_key": "por-que-las-palomitas-revientan-en-el-microondas",
        "author": "Gretel",
        "date": "25 mayo 2026",
        "text": "Ahora sé por qué nunca llegan a abrirse todas las palomitas."
    }
] %}
