{% macro smo_metadata(article) %}
<meta property="og:title" content="{{ article.title|striptags|e }}{% if article.subtitle %} - {{ article.subtitle|striptags|e }}{% endif %}" />
<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
<meta property="og:description" content="{{ article.summary|striptags|e }}" />
<meta property="og:site_name" content="{{ SITENAME|striptags|e }}" />
<meta property="og:type" content="article" />
<meta property="og:article:author" content="{{ article.author }}" />

{% if article.date %}
<meta property="og:article:published_time" content="{{ article.date.isoformat() }}" />
{% endif %}

{% if article.locale_modified and article.modified %}
<meta property="og:article:modified_time" content="{{ article.modified.isoformat() }}" />
{% endif %}

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ article.title|striptags|e }}{% if article.subtitle %} - {{ article.subtitle|striptags|e }}{% endif %}">
<meta name="twitter:description" content="{{ article.summary|striptags|e }}">

{% from '_includes/_defaults.html' import FEATURED_IMAGE with context %}

{% if article.featured_image %}
    {% if article.featured_image.startswith('http') %}
        {% set SHARE_IMAGE = article.featured_image %}
    {% else %}
        {% set SHARE_IMAGE = SITEURL ~ '/' ~ article.featured_image %}
    {% endif %}
{% elif article.image %}
    {% if article.image.startswith('http') %}
        {% set SHARE_IMAGE = article.image %}
    {% else %}
        {% set SHARE_IMAGE = SITEURL ~ '/' ~ article.image %}
    {% endif %}
{% else %}
    {% set SHARE_IMAGE = FEATURED_IMAGE %}
{% endif %}

{% if SHARE_IMAGE %}
<meta property="og:image" content="{{ SHARE_IMAGE }}" />
<meta property="og:image:secure_url" content="{{ SHARE_IMAGE }}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:image:alt" content="{{ article.title|striptags|e }}" />
<meta name="twitter:image" content="{{ SHARE_IMAGE }}">
<meta name="twitter:image:alt" content="{{ article.title|striptags|e }}">
{% endif %}
{% endmacro %}
